<table>
  <thead>
    <tr>
      <th>Region</th>
      <th>Province</th>
      <th>Name</th>
      <th>Address</th>
      <th>Contact Number</th>
      <th>Vehicle Category</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>01</td>
      <td>Ilocos Sur</td>
      <td>AJB Driving School Inc</td>
      <td>OAIG-DAYA CANDON ILOCOS SUR</td>
      <td>09189473944</td>
      <td>Motorcycle</td>
    </tr>
  </tbody>
</table>