<div class="mt-4 has-text-white has-background-black p-4 is-flex is-flex-direction-column is-align-items-center">
  <p class="is-size-7">
    All names, logos, images, and brands are property of their respective owners.
  </p>

  <p class="is-size-7">
    This site is not affiliated, associated, authorized, endorsed by, or in any way officially connected with
    <%= link_to "Land Transportation Office", "https://lto.gov.ph/" %>.
  </p>

  <p class="is-size-7">
    Please email <%= link_to "support@ltodrivingschools.org", "mailto:support@ltodirivingschools.org" %> for any corrections.
  </p>

  <p class="is-size-7 mt-4">
    Created with ❤ by <%= link_to "AJ Villalobos", "https://ajvillalobos.com" %>
  </p>
</div>