<nav class="navbar">
  <div class="container my-2">
    <div class="navbar-brand">
      <%= link_to root_path, class: "navbar-item" do %>
        <img src="https://ltodrivingschools.s3-ap-southeast-1.amazonaws.com/lto_logo.jpg" class="logo" />
        <h1 class="ml-4">LTO Accredited Driving Schools</h1>
      <% end %>
    </div>

    <div class="navbar-end">
      <span class="navbar-item is-size-7">Updated as of Jan 31, 2021</span>
    </div>
  </div>
</nav>