<nav class="navbar">
  <div class="container my-2">
    <div class="navbar-brand">
      <%= link_to root_path, class: "navbar-item" do %>
        <%= image_tag "lto_logo", class: "logo" %>
        <span class="ml-4">LTO Accredited Driving Schools</span>
      <% end %>
    </div>
  </div>
</nav>