<nav class="navbar">
  <div class="navbar-brand">
    <%= link_to schools_path, class: "navbar-item" do %>
      <%= image_tag "lto_logo" %>
      <span class="is-size-4 ml-2">LTO Accredited Driving Schools</span>
    <% end %>
  </div>
</nav>